<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4c75ca77-8e89-4a91-9cc0-9bc76d3a6693/resourceGroups/rg-se-dt-s7-gr3/providers/Microsoft.ContainerRegistry/registries/PimPamProgrammeur</ResourceId>
    <ResourceName>PimPamProgrammeur</ResourceName>
    <ResourceGroup>rg-se-dt-s7-gr3</ResourceGroup>
    <Subscription>ITD_HBO-ICT</Subscription>
    <RegistryUrl>https://pimpamprogrammeur.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>00519a64-7338-4df4-b342-71397b5ac849</ProjectGuid>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>